{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome | Index</title>
  <link rel="icon" type="image/x-icon" href="/static/images/app_logo.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <style>
    .middleTop {
      margin: 0 auto;
      padding: 50px 0;
      max-width: 1600px;
      min-width: 1024px;
      background-color: #000000db;

    }

    .middle-heading {
      font-family: "font-bold";
      font-size: 14px;
      color: #fff;
      margin-left: 38px;
      padding-bottom: 15px;
      text-transform: uppercase;
    }

    .middle-content {
      font-size: 12px;
      color: #777 !important;
      list-style-type: none;
      max-width: 210px;
    }

    .middleContent-footer .middleTop div {
      box-sizing: border-box;
    }

    .middleBottom {
      background-color: #000;
      text-align: center;
      border-top: 1px solid #e2e2e2;
      border-bottom: 1px solid #e2e2e2;
      padding: 12px 0;
    }

    .middleBottomFooter {
      text-transform: uppercase;
      font-size: 14px;
      color: #344c55;
      text-align: left;
      background-color: #000;
    }

    .underLineOnHover {
      color: #fff;
    }

    .bottomfooter {
      background-color: #000;
    }

    .copyright {
      color: #fff;
    }

    .address {
      color: #fff;
    }
  </style>
</head>

<body>
  <!-- Navbar start -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color:rgba(239, 243, 242, 0.973);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/static/images/apple-touch-icon.png" alt="Logo" width="30" height="24"
          class="d-inline-block align-text-top">
        <label style="color: black; font: 100;">Banner</label>

      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          {% if user is not none %}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/notes">Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

          </li>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>

            <hr class="dropdown-divider">
          </li>

          <hr class="dropdown-divider">
          </li>

        </ul>
        </ul>

        {% if user is none %}
        <div class="manual">
          <button class="btn btn-outline-info  " data-bs-toggle="modal" data-bs-target="#loginModal"
            type="button">Login</button>
          <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#signupModal"
            type="button">Signup</button>
          {% else %}
          <div class="btn-group">
            <button type="button " class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{user}}
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/profile">update profile</a></li>
              <li><a class="dropdown-item" href="/userlogout">Logout</a></li>
            </ul>
          </div>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
    </div>
  </nav>
  <!-- Navbar End -->


  <!-- Login Modal Start -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Username</label>
              <input type="email" name="username" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto"></div>
            <button type="submit" class="btn btn-primary" name="login" value="login">Login</button>
            <a class="btn btn-primary" href="{% provider_login_url 'google' %}" type="button">Google</a>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
  <!-- Login Modal End -->
  <!-- Signup Modal Start -->
  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Signup</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" class="row g-3 needs-validation" novalidate>
            {% csrf_token %}
            <div class="col-md-6">
              <label for="validationCustom01" class="form-label">First name</label>
              <input type="text" name="firstname" class="form-control" id="validationCustom01" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationCustom02" class="form-label">Last name</label>
              <input type="text" name="lastname" class="form-control" id="validationCustom02" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationCustomUsername" class="form-label">Username</label>
              <div class="input-group has-validation">

                <input type="text" name="username" class="form-control" id="validationCustomUsername"
                  aria-describedby="inputGroupPrepend" required>
                <div class="invalid-feedback">
                  Please choose a username.
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationCustom01" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="validationCustom01" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationCustom03" class="form-label">City</label>
              <input type="text" name="city" class="form-control" id="validationCustom03" required>
              <div class="invalid-feedback">
                Please provide a valid city.
              </div>
            </div>
            <div class="col-md-3">
              <label for="validationCustom04" class="form-label">State</label>
              <select class="form-select" name="state" id="validationCustom04" required>
                <option selected disabled value="">state</option>
                <option>Gujarat</option>
                <option>Delhi</option>
                <option>Punjab</option>
                <option>Goa</option>
                <option>Other</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid state.
              </div>
            </div>
            <div class="col-md-3">
              <label for="validationCustom05" class="form-label">Mobile</label>
              <input type="text" name="mobile" class="form-control" id="validationCustom05" required>
              <div class="invalid-feedback">
                Please provide a valid zip.
              </div>
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-primary" type="submit" name="Signup" value="Signup">Signup</button>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
  <!-- Signup Modal End -->

  <div class="container ">
    <img src="/static/images/pngtree-the-word-welcome-banner-sign-png-image_4598265.png" style="width: 2000px; " class="img-fluid mz-50">

  </div>
  <!-- card Modal start -->
  <div class="card-group">
    <div class="card mx-2">
      <img src="/static/images/Billboard-Trikon-Baugh-Rajkot-17206.webp " class="card-img-bottem " alt="...">
      <div class="card-body">
        <h5 class="card-title">banner 
          location: trikaun baug
        </h5>
        <p class="card-text">
        <div class="col-sm-1">
          <iframe frameborder="0" width="450" height="300" scrolling="no" marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?width=720&amp;height=500&amp;hl=en&amp;q=Rajkot+(banner%20info)&amp;t=k&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
              href="https://www.maps.ie/distance-area-calculator.html">measure area map</a></iframe>
        </div>
        </p>

      </div>
    </div>
    <div class="card">
      <img src="/static/images/Gantry-Indira-Bridge-Rajkot-17133.webp " class="card-img-top " alt="...">
      <div class="card-body">
        <h5 class="card-title">banner location: indira circle</h5>
        <p class="card-text"><iframe frameborder="0" width="450" height="300" scrolling="no" marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?width=720&amp;height=500&amp;hl=en&amp;q=Rajkot+(banner%20info)&amp;t=k&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
              href="https://www.maps.ie/distance-area-calculator.html">measure area map</a></iframe></p>

      </div>
    </div>
    <div class="card">
      <img src="/static/images/3d98882d-8434-4f1e-aba1-2a3f95970a4d.jpg " class="card-img-top " alt="...">
      <div class="card-body">
        <h5 class="card-title">banner location: kotecha chowk</h5>
        <p class="card-text"><iframe frameborder="0" width="450" height="420" scrolling="no" marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?width=720&amp;height=500&amp;hl=en&amp;q=Rajkot+(banner%20info)&amp;t=k&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
              href="https://www.maps.ie/distance-area-calculator.html">measure area map</a></iframe></p>
        </p>
      </div>
    </div>
  </div>
  <!-- card Modal End -->

</body>

</html>